
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* 
        - 0 ~ 575px         => MOBILE
        - 576px ~ 767px     => SMALL (tablet)
        - 768px ~ 991px     => MEDIUM (tablet horizontal)
        - 992px ~ 1199px    => LARGE (small laptop)
        - 1200px ~ 1399px   => X-LARGE (desktop)
        - 1400px ~ infinite => XX-Large (big desktop)

        */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", system-ui;
    color: #742304;
}
*::after{
    margin: 0;
    padding: 0;
}
*::before{
    margin: 0;
    padding: 0;
}

main{
    padding-inline: 6%;
}

nav{
    background-color: #FEF7E2;
    padding-block: 16px;
    margin-inline: 6%;
    margin-bottom: 0;
    border-radius: 40px;
    margin-top: 20px;
}
ul, li{
    display: flex;
    justify-content: center;
    height: fit-content;
    margin: auto;
    row-gap: 20px;
    align-items: center;
    flex-wrap: wrap;
}

li{
    background-color: #FEDF7E;
    padding: 12px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 550;
    min-width: 40%;
}

.logo{
    border-radius: 36px;
    padding-inline: 16px;
    padding-block: 24px;
    font-size: 20px;
    width: 100%;
    order: -1;
    display: flex;
    justify-content: center;
    max-width: 300px;
    gap: 8px;
    margin-inline: 30%;
}
h1{
    padding-block: 20px;
    text-align: center;
    width: 70%;
    margin: 0 auto;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-bottom: 24px;
}
.card{
    width: 100%;
    background-color: #FEF7E2;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.card img{
    max-width: 100%;
    border-radius: 40px 40px 0px 0px ;
}
.card button{
    background-color:#FEDF7E ;
    border: 0px;
    padding-block: 6px;
    border-radius: 16px;
    width: 60%;
    margin-bottom: 12px;
    font-size: 13px;
    font-weight: 500;
}
.text-card{
padding-block: 16px;
display: flex;
gap: 35px;
font-size: 14px;
}
.text-card h4{
    font-weight: 550;
    line-height: 1rem;
    font-size: 15px;
}
.paragraph p{
    font-size: 11px;
}
.paragraph{
    text-align: center;
}
.article-container{
    background-color:#FEF7E2 ;
    padding: 24px;
    border-radius: 20px;
}
article img{
    width: 100%;
}
h2{
    line-height: 4rem;
    font-size: 28px;
    text-align: center;
}
.article-container p {
    margin-block: 16px;
}

/* da qui tutto il tablet */
@media screen and (min-width: 576px) {
    main{
        padding-inline: 16px;
    }
    .card{
        max-width: 48.5%;
    }
    h1{
        text-align: left;
        width: 100%;
        margin: 0;
    }
    h2{
        text-align: left;
    }
    .logo{
        width: auto;
        order: 0;
        margin-inline: 0px;
        min-height: fit-content;
    }
    nav{
        margin: 0px;
        padding-inline: 0;
        border-radius: 0;
    }
    li{
        min-width: 0;
        margin: 0px;
    }
    .card-container{
        gap:16px;
    }
    ul{
        gap: 12px;
    }
    
    /* fine tablet */
    }
    @media screen and (min-width: 768px) {
        body{
            display: flex;
        }
        main{
            padding-inline: 32px;
        }
        nav{
            padding-inline: 24px;
            min-width: 190px;
        }
        li{
            width: 100%;
            border-radius: 40px;
            padding-block: 16px;
        }
        .logo{
            order: -1;
            border-radius: 40px;
            padding: 12px;
            width: 100%;
        }
        .card-container{
            gap:20px;
        }
    }